<div id="website-title"><img src="/logo.png"/ id="nixcon-logo">
  <div id="title-text-c">
    <p>c-base</p>
    <p>------</p>
    <p>october 25 2024</p>
    <p>october 26 2024</p>
    <p>october 27 2024</p>
  </div>
  </div>
</div>
<div id="menu">
  <ul>
    <li><a href="/#about">About</a></li>
    <li><a href="/#location">Location</a></li>
    <li><a href="/#tickets">Tickets</a></li>
    <li><a href="/#timeline">Timeline</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/schedule">Schedule</a></li>
  </ul>
</div>
