<div id="website-title">
  <img src="/logo.svg" id="nixcon-logo"/>
<p id="about-text-desktop">
  <b>[nixcon@berlin:~]$</b>
  {{ partial "about.md" . }}<b class="blink_me"></b>
<p>
</div>


<div id="menu">
  <ul>
    <li><a href="/#location">Location</a></li>
    <li><a href="/coc.pdf">CoC</a></li>
    <li><a href="https://talks.nixcon.org/nixcon-2024/schedule/">Schedule</a></li>
    <li><a href="/faq">FAQ</a></li>
  </ul>
</div>
<div id="about-text-phone">
  <div class="box">
    <h1>About</h1>
    {{ partial "about.md" . | transform.Markdownify  }}
  </div>
</div>
