<div id="website-title">

  <img src="/logo.svg" id="nixcon-logo"/>
  <div id="title-text-c">


	  <p>
	  <span>about</span>
	  <span>location</span>
	  <span>tickets</span>
	  <span>timeline</span>
	  <span>schedule</span>
	  <p>
  </div>
</div>
<!--<div id="menu">-->
<!--  <ul>-->
<!--    <li><a href="/#about">About</a></li>-->
<!--    <li><a href="/#location">Location</a></li>-->
<!--    <li><a href="/#tickets">Tickets</a></li>-->
<!--    <li><a href="/#timeline">Timeline</a></li>-->
<!--    <li><a href="/faq">FAQ</a></li>-->
<!--    <li><a href="/schedule">Schedule</a></li>-->
<!--  </ul>-->
<!--</div>-->
