@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Sixtyfour:BLED,SCAN@0,-53&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
  color: black;
  background-color: #eeeeee;
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  line-height: 1.5;
  margin: auto;
  max-width: 900px;
}

header {
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  font-family: "JetBrains Mono", monospace;
}

a {
  text-decoration: none;
  color: #eeeeee;
  background-color: black;
  padding: .2em;
}

a:hover { text-decoration: underline; }

h1 {
  background-color: black;
  color: #eeeeee;
  font-family: "Jersey 25", monospace;
  font-weight: 400;
  font-style: normal;
}

#nixcon-logo {
  width: 40rem;
}

#website-title {
  display: flex;
  align-items: center;
}


#menu {
  background-color: black;
  margin-top: 1em;
  margin-bottom: 2em;
}

#menu > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Jersey 25", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.box {
    margin: 0;
    margin-bottom: 2em;
}

.box > p {
    padding-left: .5rem;
    padding-right: .5rem;
}

.box > h1 {
    padding-left: .5rem;
    font-size: 1.5rem;
    margin: 0;
}

footer {
    margin-top: 0;
}

/* Desktop/laptop/big tablets */
@media (min-width: 480px) {
    #header {
        margin-top: 2rem;
    }
    #about-text-phone {
        display: none;
    }
    #about-text-desktop {
        margin-left: 1rem;
    }
    #menu > ul {
        flex-direction: row;
    }
    .box {
        border: 3px solid black;
        box-shadow: #6a6a6a 10px 10px;
    }
}

/* Phones/small tablets */
@media (max-width: 480px) {
    #menu > ul {
        flex-direction: column;
        align-items: center;
    }
    #website-title {
        flex-direction: column;
    }
    #nixcon-logo {
        width: 55vw;
    }
    #about-text-desktop {
        display: none;
    }
    .box {
        border: none;
    }
    footer > p {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: .8rem;
        margin-bottom: .8rem;
    }
    #prev-editions {
        display: flex;
        justify-content: left;
    }
    #prev-editions > a {
        margin-right: 1rem;
    }
}

@font-face {
  font-family: 'Jersey 25';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/jersey-25-latin-400-normal.woff2) format('woff2'), url(/fonts/jersey-25-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

.blink_me {
  animation: blinker 1s infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink_me::before {
      content: "█\A0"
}
